@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
$background-color: rgb(28, 28, 28);

.bg-prop {
  background: $background-color;
  margin: 0;
}

.container {
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  text-align: center;
}

img {
  vertical-align: top;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.listing {
  margin: 54px 0 0;
}

.search {
  justify-content: space-between;
  max-width: 1280px;
  box-sizing: border-box;
  height: 74px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 628px;
  border-bottom: rgb(255, 255, 255) solid 2px;
  transition: width 0.5s ease-in, border-color 0.5s ease-in,
  justify-content 0.5s ease-in, padding-left 0.5s ease-in;
  padding-left: 71px;
}

.still_not_search {
  display: none;
}

.search_position_scrolling {
  position: sticky;
  top: 0;
  background: rgba(28, 28, 28, 0.8);
  backdrop-filter: blur(10px);
  max-width: 100%;
  border-color: rgba(255, 255, 255, 0.8);
}

input {
  border-width: 0;
  background: transparent;
  min-width: 446px;
  padding: 0;
  color: rgba(255, 255, 255, 0.4);
  font: 300 24px/36px 'Roboto';
  transition: width 0.5s ease-in;
}

.search__window {
  margin-left: 14px;
}

.search__window:focus-within {
  width: 92%;
  margin-left: 19px;
  transition: margin-left 0.5s ease-in, width 0.5s ease-in;
}

input:focus {
  outline: none;
  width: 100%;
}

.search:focus-within {
  width: 100%;
  border-color: rgb(255, 255, 0);
  padding-left: 0;
}

.search__esc {
  display: block;
  height: 48px;
  width: 48px;
  color: transparent;
  transition: all 0.3s ease-in;
  filter: brightness(50%);
}

.search__esc:hover {
  filter: brightness(100%);
  cursor: pointer;
}

.display_none {
  display: none;
}

.group_of_tags {
  padding: 0 12px 0;
  max-width: 1280px;
  margin: 24px auto 0;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: block;
  padding: 6px 16px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);
  margin: 0 8px 8px 0;
  font: normal 16px/24px 'Roboto';
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.notfound {
  max-width: 1280px;
  margin: 92px 0 56px;
}

.results {
  max-width: 1304px;
  margin: 92px auto 56px;
}

.results__header {
  margin-left: 12px;
  font: normal 900 36px/48px 'Roboto';
  color: rgb(255, 255, 255);
}
.results_loader {
  margin: 0 auto;
  max-width: 700px;
}

.results__list {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  margin: 0 12px 24px 12px;
  box-sizing: border-box;
  width: 302px;
  height: 454px;
  border-radius: 12px;
}

.card_readiness_almost {
  background: rgba(255, 255, 255, 0.24);
  display: flex;
  align-content: flex-end;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_title_almost {
  font: normal 24px/36px 'Roboto';
  color: rgba(255, 255, 255, 0.24);
  display: block;
  flex-basis: 100%;
  margin-bottom: 12px;
}

.card_other_almost {
  font: 300 16px/24px 'Roboto';
  color: rgba(255, 255, 255, 0.24);
  display: block;
}

.card_readiness_none {
  background: rgba(255, 255, 255, 0.24);
  display: flex;
  align-content: flex-end;
  padding: 0 30px 68px 20px;
  flex-wrap: wrap;
}

.card_title_none {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
  width: 246px;
  height: 24px;
  margin-bottom: 8px;
}

.card_other_none {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
  width: 156px;
  height: 24px;
}

.footer {
  margin: 0 auto;
  font: normal 12px/14px 'Roboto';
  width: 144px;
  color: rgba(255, 255, 255, 0.4);
}

.card-link {
  display: block;
  height: 100%;
  width: 100%;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.downloadButton {
  padding: 6px 16px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);
  font: normal 16px/24px 'Roboto';
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  margin: 8px auto;
  cursor: pointer;
}

.footer_title {
  margin-top: 8px;
}
